doctype html
head
  meta(name='viewport' content='width=device-width, initial-scale=1')
  meta(charset='UTF-8')
  script(async='' defer='' data-domain='lachlan-miller.me' src='https://plausible.io/js/plausible.js')
  link(
    rel="stylesheet" 
    href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.css"
    integrity="sha512-IJEbgDEF7OeKJRa0MY2PApnyJHRIsgzCveek4ec8VWQ+7KG3ZSKVNYa5xP/Gh0hVP0Mwb+gBsk+GwR3JQGhQNg=="
    crossorigin="anonymous"
  )
  style
    include ../../public/index.css

  if article
    meta(property="twitter:card", content="summary")
    meta(property="twitter:title", content=article.title)
    meta(property="twitter:description", content=article.description)
    meta(property="twitter:site", content="@Lachlan19900")
    meta(property="twitter:image", content=article.image)
    meta(property="og:title", content=article.title)
    meta(property="og:description", content=article.description)
    meta(property="og:image", content=article.image)

  if musing
    meta(property="twitter:card", content="summary")
    meta(property="twitter:title", content=musing.title)
    meta(property="twitter:description", content=musing.description)
    meta(property="twitter:site", content="@Lachlan19900")
    meta(property="twitter:image", content=musing.image)
    meta(property="og:title", content=musing.title)
    meta(property="og:description", content=musing.description)
    meta(property="og:image", content=musing.image)

  meta(name='description' content='Technical articles, projects and general musings about software by Lachlan Miller.')
  title Lachlan Miller
main.main
  .profile
    div
      a(href='/')
        img.profile__image(src='https://avatars2.githubusercontent.com/u/19196536?s=460&u=8fc5c9d3a010264b51d56049df87a6d229c9a64d&v=4')
    div
      h1
        a.plain-link(href='/') Lachlan Miller
      .profile__links
        a.link(href='/articles') Articles
        a.link(href='/books') Books & Courses
        //- a.link(href='/screencasts') Screencasts
        //- a.link(href='/projects') Projects
        a.link(href='/musings') Musings
        a.link(href='/contact') Contact
  .content
    block content
